.photo-grid__container {
    max-width: 1184px;
    margin: 92px 48px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
/*  grid-template-columns: repeat(4, 284px); так тоже можно
    grid-template-rows: repeat(3, 213px); */
/*  grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr); */
/*  grid: repeat(4, 1fr) / repeat(3, 1fr); */
}

@media screen and (max-width: 1279px) {
    .photo-grid__container {
        gap: 14px;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid__container {
        margin: 88px 24px;
        gap: 16px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid__container {
        margin: 88px 16px;
        gap: 12px;
    }
} 