header {
    max-width: 1184px;
    margin: 28px auto 56px; /* cтиль контейнера */
    padding: 0 48px; /*стиль контейнера */
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1279px) {
    .header {
        margin-bottom: 48px;
        padding: 0 48px;
    }
}

@media screen and (max-width: 1023px) {
    .header {
        padding: 0 24px;
    }
}

@media  screen and (max-width: 767px) {
    .header {
        margin-top: 16px;
        padding: 0 16px;
    }
}