.place__text {
    margin: 0 0 26px;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 163%;
}

/* Сброс отступ у последнего параграфа во всех контейнерах */
.place__text:not(:has(+ p)) {
    margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
    .place__text {
        margin-bottom: 25px;
        font-size: 16px;
        line-height: 163%;
    }
}

@media screen and (max-width: 767px) {
    .place__text {
        padding: 0 16px;
    } 
} 
