.cover__title {
    margin: 0 auto 32px;
    max-width: 560px;
    font-size: 72px;
    font-weight: 900;
    font-style: normal;
    line-height: 76px;
    text-align: center;
} 

@media screen and (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        margin: 0 auto 16px;
    }
}
