.place__url-heading {
    margin: 0 0 12px;
    color: #AAAAAA;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 170%;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@media screen and (max-width: 1023px) {
    .place__url-heading {
        line-height: 12px;
    }
}


@media screen and (max-width: 767px) {
    .place__url-heading {
        padding-left: 16px;
    }
} 