.intro__article {
    max-width: 690px;
    margin: 92px 48px;
}

@media screen and (max-width: 1023px) {
    .intro__article {
        max-width: 720px;
        margin: 88px 24px;
    }
}

@media screen and (max-width: 767px) {
    .intro__article {
        margin: 64px 16px;
    }
}